<%= form_with url: auth_path, method: :post, scope: :auth, local: true do |f| %>
  <%= hidden_field_tag :step, @step %>
  <% if @step == 'email' %>
    <label class="label mb-1">
      <span class="label-text">Digite seu email</span>
    </label>
    <%= f.email_field :email, value: @user.email, required: true,
          class: "input input-bordered w-full" %>

  <% elsif @step == 'password' %>
    <label class="label mb-1">
      <span class="label-text">Digite sua senha</span>
    </label>
    <%= f.password_field :password, required: true,
          class: "input input-bordered w-full" %>

  <% elsif @step == 'register' %>
    <label class="label mb-1">
      <span class="label-text">Nome completo</span>
    </label>
    <%= f.text_field :name, required: true,
          class: "input input-bordered w-full" %>

    <label class="label mt-4">
      <span class="label-text">Crie uma senha</span>
    </label>
    <%= f.password_field :password, required: true,
          class: "input input-bordered w-full" %>

    <label class="label mt-4">
      <span class="label-text">Confirme a senha</span>
    </label>
    <%= f.password_field :password_confirmation, required: true,
          class: "input input-bordered w-full" %>
  <% end %>

  <div class="mt-6">
    <%= f.submit(
          case @step
          when 'email'    then 'Continuar'
          when 'password' then 'Entrar'
          when 'register' then 'Registrar'
          end,
          class: "btn btn-primary w-full"
        ) %>
  </div>
<% end %>

<div class='pt-3'>
  <%= render 'auth/google_auth_button' %>
</div>
