<div id="<%= dom_id(task) %>" 
     data-task-id="<%= task.id %>"
     data-column-id="<%= task.column_id %>"
     class="p-4 rounded-md bg-base-300 shadow-sm transition hover:cursor-pointer border border-base-200 hover:shadow-md hover:border-base-300 relative task-card task"
     data-controller="task-actions"
     data-action="click->task-actions#showTask">
  
  <button class="absolute top-3 right-3 text-sm text-gray-500 hover:text-error p-1 cursor-pointer" 
          data-action="click->task-actions#confirmDelete click->task-actions#stopPropagation">
    <i class="fa-solid fa-trash"></i>
  </button>
  
  <div>
    <p><%= task.title %></p>
    <% if task.due_date.present? %>
      <p class="text-xs mt-1">
        <i class="fa-regular fa-calendar"></i> <%= task.due_date_formatted %>
      </p>
    <% end %>
    
    <% if task.labels.any? %>
      <div class="flex flex-wrap gap-1 mt-2">
        <% task.labels.each do |label| %>
          <span class="badge badge-<%= label.color %> badge-sm"><%= label.title %></span>
        <% end %>
      </div>
    <% end %>
    
    <div class="flex justify-between items-center mt-3">
      <span class="badge badge-sm <%= task_difficulty_class(task.difficulty) %>">
        <%= task.difficulty_label %>
      </span>
    </div>
  </div>
</div>