<div class="navbar bg-base-100 shadow-sm rounded-lg px-4 flex justify-between">
  <div class="navbar-start hidden md:flex">
    <% unless controller_name == "boards" && action_name == "index" %>
      <%= link_to boards_path, class: "btn btn-ghost flex items-center gap-1" do %>
        <i class="fa-solid fa-arrow-left text-lg"></i>
      <% end %>
    <% end %>
  </div>
  <div class="navbar-center">
    <%= link_to (@board&.name || "ToDone"), boards_path, class: "btn btn-ghost text-xl" %>
  </div>
  <div class="navbar-end flex gap-3">
    <%= render 'shared/toggle_theme_button' %>
    <div class="dropdown">
      <button class="btn btn-circle bg-accent" tabindex="0" role="button">
        <p class="text-2xl">
          <%= current_user.name.first.upcase %>
        </p>
      </button>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow right-2">
        <%= link_to logout_path,
                method: :delete,
                "data-turbo-method": :delete do %>
          <li>
            <p class="font-semibold">
              Sair
            </p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
