<div class="full-width-container">
  <%= render 'shared/navbar' %>
  <div class="flex flex-col gap-4 pt-4 mb-4">
    <div class="w-full h-32 md:h-48 overflow-hidden">
      <% if @board.banner.present? %>
        <img  src="data:image/*;base64,<%= @board.banner %>"
              alt="<%= @board.name %>"
              class="w-full h-full object-cover rounded-lg">
      <% else %>
        <%= image_tag "default_board_banner.webp",
                      alt: @board.name,
                      class: "w-full h-full object-cover rounded-lg" %>
      <% end %>
    </div>
    <div class="flex items-end md:justify-between flex-col-reverse md:flex-row gap-3">
      <div data-controller="column-creator" class="flex justify-between items-center">
        <div id="column-creator-actions" data-column-creator-target="button" class="flex flex-col md:flex-row gap-4">
          <button class="btn flex btn-accent gap-2" 
                  data-action="click->column-creator#showForm"
            >
            <i class="fa-solid fa-plus"></i>
            <p>Nova coluna</p>
          </button>
        </div>
        <div class="hidden" data-column-creator-target="form">
          <%= render 'columns/form', board: @board %>
        </div>
      </div>
      <div>
        <div role="alert" class="alert alert-info text-sm">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="h-4 w-4 shrink-0 stroke-current">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
          </svg>
          <span>Por padrão, a última coluna representa suas tarefas concluídas</span>
        </div>
      </div>
    </div>
  </div>
  <div id="board-columns" 
    class="flex flex-col md:flex-row gap-4 overflow-x-auto pb-4 w-full" 
    data-controller="horizontal-scroll"
    style="scrollbar-width: thin;">
    <%= render partial: 'columns/column', collection: @board.columns.order(:position) %>
  </div>
</div>